Repository Myrrys/roolipeli-info: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, guard-design-system, type-check, test-unit

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte,astro}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files} && git add {staged_files}

    guard-design-system:
      glob: "packages/design-system/**/*"
      run: |
        if [ "$ALLOW_DS_EDIT" != "true" ]; then
          echo "âŒ DESIGN SYSTEM LOCKED: You are attempting to modify 'packages/design-system'."
          echo "To authorize this change, run: ALLOW_DS_EDIT=true git commit ..."
          exit 1
        fi

    type-check:
      glob: "*.{ts,tsx,svelte,astro}"
      run: |
        if command -v tsc &> /dev/null; then
          pnpm --filter "{packages/**}" --if-present exec tsc --noEmit
        fi

    test-unit:
      glob: "*.{ts,svelte}"
      run: |
        if pnpm exec vitest --version &> /dev/null 2>&1; then
          pnpm test:unit
        else
          echo "vitest not installed yet, skipping tests"
          exit 0
        fi

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat(scripts): add storage bucket initialization script (ROO-75)
  scripts/init-storage.ts
Due: biome-check, type-check, test-unit

docs(spec): add Form context interface, DoD, and Gherkin scenarios (ROO-77)
  specs/design-system/forms.md
Due: none

feat(design-system): add Form, Input, Label, FormError components with Zod validation (ROO-77)
  apps/design-system/package.json
  apps/design-system/src/components/DemoForm.svelte
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/forms.astro
  apps/design-system/tests/e2e/forms.spec.ts
  packages/design-system/package.json
  packages/design-system/src/components/Form.svelte
  packages/design-system/src/components/FormError.svelte
  packages/design-system/src/components/Input.svelte
  packages/design-system/src/components/Label.svelte
  packages/design-system/src/components/form-context.test.ts
  packages/design-system/src/components/form-context.ts
  pnpm-lock.yaml
  specs/design-system/forms.md
  specs/design-system/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

fix(design-system): address review findings for form components (ROO-77)
  apps/design-system/src/components/DemoForm.svelte
  apps/design-system/src/pages/forms.astro
  packages/design-system/src/components/Form.svelte
Due: biome-check, guard-design-system, type-check, test-unit

docs(spec): add ROO-78 DoD, Gherkin scenarios, and fix token references
  specs/design-system/forms.md
Due: none

chore(commands): add parallel Sonnet subagent strategy to /dev command
  .claude/commands/dev.md
Due: none

feat(design-system): add Textarea, harden Input/FormError/Label primitives (ROO-78)
  apps/design-system/src/components/DemoForm.svelte
  apps/design-system/src/pages/forms.astro
  apps/design-system/tests/e2e/forms.spec.ts
  packages/design-system/src/components/FormError.svelte
  packages/design-system/src/components/Input.svelte
  packages/design-system/src/components/Label.svelte
  packages/design-system/src/components/Textarea.svelte
  packages/design-system/src/styles/components/input.css
Due: biome-check, guard-design-system, type-check, test-unit

fix(design-system): add biome-ignore for Svelte bind: + $state const conflict (ROO-78)
  apps/design-system/src/components/DemoForm.svelte
  packages/design-system/src/components/Form.svelte
  packages/design-system/src/components/Textarea.svelte
Due: biome-check, guard-design-system, type-check, test-unit

chore(agent): add review workflow definition
  .agent/workflows/review.md
Due: none

docs(spec): add ROO-79 component specs, DoD, and Gherkin scenarios
  specs/design-system/forms.md
Due: none

feat(design-system): add Select, Checkbox, Switch, RadioGroup components (ROO-79)
  .agent/workflows/review.md
  apps/design-system/src/components/DemoForm.svelte
  apps/design-system/tests/e2e/forms.spec.ts
  packages/design-system/src/components/Checkbox.svelte
  packages/design-system/src/components/Checkbox.test.ts
  packages/design-system/src/components/RadioGroup.svelte
  packages/design-system/src/components/RadioGroup.test.ts
  packages/design-system/src/components/Select.svelte
  packages/design-system/src/components/Select.test.ts
  packages/design-system/src/components/Switch.svelte
  packages/design-system/src/components/Switch.test.ts
  packages/design-system/src/components/field-utils.ts
  packages/design-system/src/styles/components/input.css
  packages/design-system/src/styles/tokens.css
Due: biome-check, guard-design-system, type-check, test-unit

feat(design-system): add Combobox searchable single-select component (ROO-80)
  apps/design-system/src/components/DemoForm.svelte
  apps/design-system/tests/e2e/forms.spec.ts
  packages/design-system/src/components/Combobox.svelte
  packages/design-system/src/components/Combobox.test.ts
  packages/design-system/src/components/Input.svelte
  packages/design-system/src/components/RadioGroup.svelte
  packages/design-system/src/components/Select.svelte
  packages/design-system/src/components/Textarea.svelte
  packages/design-system/src/styles/components/input.css
  specs/design-system/forms.md
Due: biome-check, guard-design-system, type-check, test-unit

chore: added some plugins
  .claude/settings.json
Due: biome-check

fix(design-system): update smoke test nav link count after Forms page addition
  apps/design-system/tests/e2e/smoke.spec.ts
Due: biome-check, type-check, test-unit

feat(design-system): add FileUpload component with review fixes (ROO-81)
  apps/design-system/src/components/DemoForm.svelte
  apps/design-system/tests/e2e/forms.spec.ts
  packages/design-system/src/components/FileUpload.svelte
  packages/design-system/src/components/FileUpload.test.ts
  packages/design-system/src/components/Select.svelte
  packages/design-system/src/components/file-upload-utils.ts
  packages/design-system/src/styles/components/input.css
  packages/design-system/src/styles/tokens.css
  specs/design-system/forms.md
Due: biome-check, guard-design-system, type-check, test-unit

feat(design-system): add ArrayField dynamic list component (ROO-82)
  apps/design-system/src/components/DemoForm.svelte
  apps/design-system/tests/e2e/forms.spec.ts
  packages/design-system/src/components/ArrayField.svelte
  packages/design-system/src/components/ArrayField.test.ts
  packages/design-system/src/components/array-field-utils.ts
  packages/design-system/src/styles/components/input.css
  specs/design-system/forms.md
Due: biome-check, guard-design-system, type-check, test-unit

docs: roo-83 spec updates
  specs/design-system/forms.md
Due: none

feat: refactor ProductForm from Astro to Svelte with Kide Forms (ROO-83)
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/components/admin/ProductForm.svelte
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/admin/products/new.astro
  apps/main-site/src/pages/api/admin/products/[id].ts
  apps/main-site/src/pages/api/admin/products/index.ts
  apps/main-site/tests/e2e/admin-cover-upload.spec.ts
  apps/main-site/tests/e2e/admin-crud.spec.ts
  apps/main-site/tests/e2e/multiple-isbns.spec.ts
  apps/main-site/tests/e2e/product-references.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  packages/database/src/schemas/core.ts
Due: biome-check, type-check, test-unit

chore: agent polish and auth spec
  AGENTS.md
  specs/auth/spec.md
Due: none

fix: move password login to SSR, unify admin login (ROO-87, ROO-85)
  .env.example
  .nvmrc
  apps/main-site/src/components/PasswordLoginForm.svelte
  apps/main-site/src/middleware.ts
  apps/main-site/src/pages/admin/auth/callback.ts
  apps/main-site/src/pages/admin/index.astro
  apps/main-site/src/pages/admin/login.astro
  apps/main-site/src/pages/admin/logout.ts
  apps/main-site/src/pages/api/auth/password.ts
  apps/main-site/src/pages/kirjaudu.astro
  apps/main-site/tests/e2e/admin-auth.spec.ts
  apps/main-site/tests/e2e/kirjaudu.spec.ts
  apps/main-site/tests/e2e/mock-auth.spec.ts
  apps/main-site/tests/e2e/password-auth.spec.ts
  specs/admin-ui/spec.md
  specs/auth/spec.md
  specs/supabase-environments/spec.md
Due: biome-check, type-check, test-unit

fix: replace real URLs with placeholders in .env.example
  .env.example
Due: none

fix: server-initiated Google OAuth to resolve PKCE mismatch (ROO-88)
  apps/main-site/src/components/GoogleLoginButton.svelte
  apps/main-site/src/pages/api/auth/google.ts
  apps/main-site/src/pages/kirjaudu.astro
  apps/main-site/tests/e2e/mock-auth.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  package.json
  specs/auth/google-oauth.md
  specs/auth/spec.md
Due: biome-check, type-check, test-unit

fix: add missing design system CSS imports to AdminLayout
  apps/main-site/src/components/admin/DataTable.astro
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/styles/admin-forms.css
  package.json
Due: biome-check, type-check

fix: move cover uploads from client-side Supabase to server-side API routes (ROO-86)
  apps/main-site/src/components/admin/ProductForm.svelte
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/admin/products/new.astro
  apps/main-site/src/pages/api/admin/products/[id]/cover.ts
  apps/main-site/tests/e2e/admin-cover-upload.spec.ts
  specs/entity-cover/spec.md
Due: biome-check, type-check, test-unit

feat: add @roolipeli/logger package and noConsole guardrail (ROO-84)
  biome.json
  packages/logger/__tests__/logger.test.ts
  packages/logger/package.json
  packages/logger/src/env.d.ts
  packages/logger/src/index.ts
  packages/logger/src/logger.ts
  packages/logger/tsconfig.json
  pnpm-lock.yaml
  specs/logging/spec.md
Due: biome-check, type-check, test-unit

fix: harden E2E tests against flaky parallel execution (ROO-89)
  apps/main-site/tests/e2e/admin-cover-upload.spec.ts
  apps/main-site/tests/e2e/admin-crud.spec.ts
  apps/main-site/tests/e2e/product-references.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
  specs/testing-strategy.md
Due: biome-check, type-check, test-unit

feat: migrate raw console.* calls in apps/main-site to @roolipeli/logger (ROO-91)
  apps/main-site/package.json
  apps/main-site/src/components/admin/DeleteConfirm.svelte
  apps/main-site/src/pages/admin/creators/[id]/edit.astro
  apps/main-site/src/pages/admin/creators/index.astro
  apps/main-site/src/pages/admin/creators/new.astro
  apps/main-site/src/pages/admin/labels/[id]/edit.astro
  apps/main-site/src/pages/admin/labels/index.astro
  apps/main-site/src/pages/admin/labels/new.astro
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/admin/publishers/[id]/edit.astro
  apps/main-site/src/pages/admin/publishers/index.astro
  apps/main-site/src/pages/admin/publishers/new.astro
  apps/main-site/src/pages/api/admin/products/[id].ts
  apps/main-site/src/pages/api/admin/products/[id]/cover.ts
  apps/main-site/src/pages/api/admin/products/index.ts
  apps/main-site/src/pages/api/auth/delete.ts
  apps/main-site/src/pages/api/auth/google.ts
  apps/main-site/src/pages/api/auth/password.ts
  apps/main-site/src/pages/auth/callback.ts
  apps/main-site/src/pages/kirjaudu.astro
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tili.astro
  apps/main-site/src/pages/tuotteet/[slug].astro
  pnpm-lock.yaml
  specs/logging/spec.md
Due: biome-check, type-check, test-unit

chore: add tsconfig.test.json to @roolipeli/logger for IDE support (ROO-90)
  packages/logger/tsconfig.test.json
Due: biome-check

fix: resolve all pre-existing Biome lint failures
  apps/main-site/src/components/admin/ProductForm.svelte
  apps/main-site/tests/e2e/layout.spec.ts
  biome.json
  packages/design-system/src/components/FileUpload.svelte
Due: biome-check, guard-design-system, type-check, test-unit

docs: nav rail design
  specs/design-system/nav-rail.md
Due: none

feat: add NavRail component to Kide design system (ROO-19)
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/nav-rail.astro
  apps/design-system/tests/e2e/nav-rail.spec.ts
  apps/design-system/tests/e2e/smoke.spec.ts
  apps/main-site/src/components/admin/AdminNav.astro
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/tests/e2e/admin-layout.spec.ts
  packages/design-system/package.json
  packages/design-system/src/components/NavRail.astro
  packages/design-system/src/styles/components/nav-rail.css
  packages/design-system/src/styles/tokens.css
  packages/design-system/src/styles/typography.css
Due: biome-check, guard-design-system, type-check, test-unit

chore: bump version to 0.8.0
  package.json
Due: biome-check

fix: replace magic number with design token in breadcrumbs separator
  packages/design-system/src/styles/components/breadcrumbs.css
Due: guard-design-system

feat: add AppShell layout component to Kide design system
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/app-shell.astro
  apps/design-system/tests/e2e/app-shell.spec.ts
  apps/design-system/tests/e2e/nav-rail.spec.ts
  packages/design-system/package.json
  packages/design-system/src/components/AppShell.astro
  packages/design-system/src/styles/components/app-shell.css
  packages/design-system/src/styles/tokens.css
Due: biome-check, guard-design-system, type-check, test-unit

refactor: align AGENTS.md with ASDLC agents-md-spec
  AGENTS.md
Due: none

docs: revise isBasedOn to support multiple internal/external sources (ROO-59)
  specs/rpg-entity/spec.md
Due: none

feat: add product JSON-LD schema builder with E2E tests (ROO-93)
  AGENTS.md
  apps/main-site/playwright.config.ts
  apps/main-site/src/components/seo/JsonLd.astro
  apps/main-site/src/components/seo/schemas/product.test.ts
  apps/main-site/src/components/seo/schemas/product.ts
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/tests/e2e/admin-cover-upload.spec.ts
  apps/main-site/tests/e2e/multiple-isbns.spec.ts
  apps/main-site/tests/e2e/product-jsonld.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
  specs/aeo/spec.md
Due: biome-check, type-check, test-unit

fix: small update to agents.md
  AGENTS.md
Due: none

docs(spec): evolve admin-ui spec for AppShell migration (ROO-94)
  specs/admin-ui/spec.md
Due: none

docs(spec): add AuthButton component spec for Kide (ROO-95)
  specs/design-system/auth-button.md
Due: none
