Repository Myrrys/roolipeli-info: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, guard-design-system, type-check, test-unit

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files} && git add {staged_files}

guard-design-system:
  run: "if [ \"$ALLOW_DS_EDIT\" != \"true\" ]; then\n  echo \"‚ùå DESIGN SYSTEM LOCKED: You are attempting to modify 'packages/design-system'.\"\n  echo \"To authorize this change, run: ALLOW_DS_EDIT=true git commit ...\"\n  exit 1\nfi\n"

type-check:
  run: pnpm tsc --noEmit

test-unit:
  run: pnpm vitest run

fix(auth): resolve security and linting issues in account page tests (ROO-55)
  apps/main-site/tests/e2e/breadcrumbs.spec.ts
  apps/main-site/tests/e2e/layout.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  apps/main-site/tests/e2e/tili.spec.ts
Due: biome-check, type-check, test-unit

fix(auth): handle missing profiles gracefully in layout
  apps/main-site/src/layouts/Layout.astro
Due: biome-check, type-check

feat(auth): improve login error messages with specific user guidance
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/kirjaudu.astro
Due: biome-check, type-check, test-unit

feat: roo-60
  packages/design-system/src/styles/components/site-header.css
  specs/admin-ui/spec.md
  specs/auth/spec.md
  specs/design-system/site-header.md
  specs/testing-strategy.md
Due: guard-design-system

fix: roo-51
  apps/main-site/src/components/Footer.astro
Due: biome-check, type-check

fix(ui): remove undefined site-header__btn--secondary modifier (ROO-57)
  apps/main-site/src/layouts/Layout.astro
Due: biome-check, type-check

feat(ui): add responsive mobile menu to SiteHeader (ROO-61)
  apps/main-site/src/components/NavItems.astro
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/tests/e2e/header.spec.ts
  apps/main-site/tests/e2e/mobile-menu.spec.ts
  packages/design-system/src/components/SiteHeader.astro
  packages/design-system/src/styles/components/site-header.css
  specs/design-system/site-header.md
Due: biome-check, guard-design-system, type-check, test-unit

fix(build): scope design-system Netlify build to avoid Supabase dependency
  apps/design-system/netlify.toml
Due: none

feat(auth): add Google OAuth login provider (ROO-63)
  apps/main-site/src/components/GoogleLoginButton.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/kirjaudu.astro
  specs/auth/spec.md
Due: biome-check, type-check, test-unit

feat(test): add Supabase auth mocking utilities for E2E tests (ROO-64)
  apps/main-site/tests/e2e/mock-auth.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  specs/testing-strategy.md
Due: biome-check, type-check, test-unit

fix: kirjaudu spec update
  apps/main-site/tests/e2e/kirjaudu.spec.ts
Due: biome-check, type-check, test-unit

docs(spec): add password provider and feature flags to auth spec (ROO-67)
  specs/auth/spec.md
Due: none

feat(auth): add feature-flagged email+password login (ROO-67)
  .env.example
  apps/main-site/playwright.config.ts
  apps/main-site/src/components/PasswordLoginForm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/kirjaudu.astro
  apps/main-site/tests/e2e/kirjaudu.spec.ts
  apps/main-site/tests/e2e/mock-auth.spec.ts
  apps/main-site/tests/e2e/password-auth.spec.ts
Due: biome-check, type-check, test-unit

fix(auth): silence Svelte state_referenced_locally warnings (ROO-67)
  apps/main-site/src/components/GoogleLoginButton.svelte
  apps/main-site/src/components/PasswordLoginForm.svelte
Due: biome-check, type-check, test-unit

feat(db): add dev Supabase environment with migration promotion and data sync (ROO-68)
  .env.example
  docs/supabase-environments.md
  package.json
  pnpm-lock.yaml
  scripts/sync-dev-data.ts
  specs/supabase-environments/spec.md
  supabase/migrations/20260127160000_add_admin_crud_policies.sql
  supabase/migrations/20260128000000_add_admin_products_policies.sql
  supabase/migrations/20260204120000_add_user_profiles.sql
Due: biome-check, type-check, test-unit

docs(spec): add article pages spec (ROO-62)
  specs/articles/spec.md
Due: none

fix(kide): use grid-container layout for site footer (ROO-35)
  apps/design-system/src/pages/index.astro
  packages/design-system/src/styles/components/footer.css
Due: biome-check, guard-design-system, type-check

docs(spec): update footer specs and add grid-container E2E test (ROO-35)
  apps/main-site/tests/e2e/footer.spec.ts
  specs/design-system/layout-and-navigation.md
  specs/design-system/spec.md
Due: biome-check, type-check, test-unit

fix(test): work around vitest 4.x TMPDIR permission error on macOS
  lefthook.yml
  package.json
  vitest.config.ts
Due: biome-check, type-check, test-unit

fix(kide): align footer spec and use design token for border-radius (ROO-36)
  packages/design-system/src/styles/components/footer.css
  specs/design-system/spec.md
Due: guard-design-system

docs(spec): add RPG entity spec for games data type (ROO-59)
  specs/rpg-entity/spec.md
Due: none

feat(auth): implement account deletion with confirmation modal (ROO-56)
  apps/main-site/src/components/AccountDeleteConfirm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/api/auth/delete.ts
  apps/main-site/src/pages/tili.astro
  apps/main-site/tests/e2e/account-delete.spec.ts
Due: biome-check, type-check, test-unit

fix(auth): address review findings for account deletion (ROO-56)
  apps/main-site/src/components/AccountDeleteConfirm.svelte
  apps/main-site/src/pages/index.astro
  apps/main-site/tests/e2e/account-delete.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  packages/design-system/src/styles/tokens.css
  specs/design-system/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

fix(auth): address review findings for account deletion (ROO-56)
  apps/main-site/src/components/AccountDeleteConfirm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/tili.astro
  apps/main-site/tests/e2e/account-delete.spec.ts
  specs/auth/spec.md
Due: biome-check, type-check, test-unit

chore: pre-release
  package.json
Due: biome-check

feat: implement article pages with Content Collections (ROO-62)
  apps/design-system/src/pages/article.astro
  apps/design-system/tests/e2e/article.spec.ts
  apps/main-site/src/content.config.ts
  apps/main-site/src/content/articles/mita-on-roolipelaaminen.md
  apps/main-site/src/content/articles/roolipelaaminen-suomessa.md
  apps/main-site/src/content/articles/tulossa-pian.md
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/artikkelit/[...slug].astro
  apps/main-site/src/pages/artikkelit/index.astro
  apps/main-site/tests/e2e/articles.spec.ts
  packages/design-system/package.json
  packages/design-system/src/styles/components/article.css
  specs/articles/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

docs: add entity cover image component specification (ROO-37)
  specs/entity-cover/spec.md
Due: none

feat(kide): implement entity cover image component (ROO-37)
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/entity-cover.astro
  apps/design-system/tests/e2e/entity-cover.spec.ts
  apps/design-system/tests/e2e/smoke.spec.ts
  packages/design-system/package.json
  packages/design-system/src/components/EntityCover.astro
  packages/design-system/src/styles/components/entity-cover.css
  specs/entity-cover/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

chore: bump version to 0.6.0
  package.json
Due: biome-check

docs(auth): add admin link requirement to SiteHeader spec (ROO-70)
  specs/auth/spec.md
Due: none

fix(auth): show admin link in public site header for admin users (ROO-70)
  apps/main-site/src/components/NavItems.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/tests/e2e/admin-nav-link.spec.ts
Due: biome-check, type-check, test-unit

feat(database): add cover image infrastructure (ROO-73)
  packages/database/src/schemas/core.ts
  packages/database/src/types/supabase.ts
  specs/entity-cover/spec.md
Due: biome-check, type-check, test-unit

feat(main-site): integrate cover images on product detail page (ROO-74)
  apps/main-site/astro.config.mjs
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/tests/e2e/entity-cover.spec.ts
  packages/design-system/src/components/EntityCover.astro
  specs/entity-cover/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

docs(entity-cover): define admin upload architecture (ROO-75)
  specs/entity-cover/spec.md
Due: none

fix(admin): address review findings for cover upload (ROO-75)
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/lib/supabase.client.ts
  apps/main-site/tests/e2e/admin-cover-upload.spec.ts
Due: biome-check, type-check, test-unit

fix(admin): fix cover upload script init and add functional E2E tests (ROO-75)
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/lib/supabase.client.ts
  apps/main-site/tests/e2e/admin-cover-upload.spec.ts
Due: biome-check, type-check, test-unit

chore: release
  package.json
Due: biome-check

feat(db): add cover image migrations (ROO-72)
  supabase/migrations/20260215130000_add_cover_image_path.sql
  supabase/migrations/20260215130100_create_covers_storage_bucket.sql
Due: none

feat(test): standardize E2E seed data and remove personal emails (ROO-66)
  .env.example
  apps/main-site/tests/e2e/admin-auth.spec.ts
  apps/main-site/tests/e2e/admin-cover-upload.spec.ts
  apps/main-site/tests/e2e/admin-crud.spec.ts
  apps/main-site/tests/e2e/admin-layout.spec.ts
  apps/main-site/tests/e2e/admin-nav-link.spec.ts
  apps/main-site/tests/e2e/multiple-isbns.spec.ts
  apps/main-site/tests/e2e/password-auth.spec.ts
  apps/main-site/tests/e2e/product-references.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  specs/testing-strategy.md
  supabase/seed.sql
Due: biome-check, type-check, test-unit

docs(spec): add Kide form system specification (ROO-76)
  specs/design-system/forms.md
Due: none

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte,astro}
  guard-design-system: any of: packages/design-system/**/*
  type-check: any of: *.{ts,tsx,svelte,astro}
  test-unit: any of: *.{ts,svelte}
