Repository Myrrys/roolipeli-info: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, guard-design-system, type-check, test-unit

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files} && git add {staged_files}

guard-design-system:
  run: "if [ \"$ALLOW_DS_EDIT\" != \"true\" ]; then\n  echo \"âŒ DESIGN SYSTEM LOCKED: You are attempting to modify 'packages/design-system'.\"\n  echo \"To authorize this change, run: ALLOW_DS_EDIT=true git commit ...\"\n  exit 1\nfi\n"

type-check:
  run: "if command -v tsc &> /dev/null; then\n  pnpm --filter \"{packages/**}\" --if-present exec tsc --noEmit\nfi\n"

test-unit:
  run: "if pnpm exec vitest --version &> /dev/null 2>&1; then\n  pnpm test:unit\nelse\n  echo \"vitest not installed yet, skipping tests\"\n  exit 0\nfi\n"

feat: add AuthButton component to Kide design system (ROO-95)
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/auth-button.astro
  apps/design-system/tests/e2e/auth-button.spec.ts
  apps/design-system/tests/e2e/nav-rail.spec.ts
  apps/design-system/tests/e2e/smoke.spec.ts
  packages/design-system/src/components/AuthButton.svelte
Due: biome-check, guard-design-system, type-check, test-unit

feat: migrate AdminLayout to AppShell with AuthButton (ROO-94)
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/tests/e2e/admin-layout.spec.ts
  specs/admin-ui/spec.md
Due: biome-check, type-check, test-unit

feat: add unit test coverage for shared packages and utility logic (ROO-92)
  apps/main-site/src/i18n/utils.test.ts
  apps/main-site/src/lib/slug.client.test.ts
  packages/database/tests/schemas.test.ts
  packages/logger/vitest.config.ts
  specs/testing-strategy.md
Due: biome-check, type-check, test-unit

docs(spec): promote rpg-entity spec to Accepted, create sub-issues (ROO-59)
  specs/rpg-entity/spec.md
Due: none

feat: add database migration, Zod schemas, and query layer for games entity (ROO-97)
  packages/database/src/queries.ts
  packages/database/src/schemas/core.ts
  packages/database/src/types/supabase.ts
  packages/database/tests/games.schemas.test.ts
  supabase/migrations/20260222120000_add_games_entity.sql
Due: biome-check, type-check, test-unit

feat: add public game pages, admin CRUD, and JSON-LD schema (ROO-100)
  apps/main-site/src/components/admin/AdminNav.astro
  apps/main-site/src/components/admin/GameForm.svelte
  apps/main-site/src/components/seo/schemas/game.test.ts
  apps/main-site/src/components/seo/schemas/game.ts
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/admin/games/[id]/edit.astro
  apps/main-site/src/pages/admin/games/index.astro
  apps/main-site/src/pages/admin/games/new.astro
  apps/main-site/src/pages/api/admin/games/[id].ts
  apps/main-site/src/pages/api/admin/games/index.ts
  apps/main-site/src/pages/pelit/[slug].astro
  apps/main-site/src/pages/pelit/index.astro
  apps/main-site/tests/e2e/admin-layout.spec.ts
  packages/database/src/queries.ts
  packages/database/src/schemas/core.ts
  specs/rpg-entity/spec.md
Due: biome-check, type-check, test-unit

feat: add game_id dropdown to product create/edit form (ROO-99)
  apps/main-site/src/components/admin/ProductForm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/admin/products/new.astro
  packages/database/src/schemas/core.ts
  specs/rpg-entity/spec.md
Due: biome-check, type-check, test-unit

feat: add games nav item and parent game link on product pages (ROO-102)
  apps/main-site/src/components/NavItems.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/tuotteet/[slug].astro
  packages/database/src/queries.ts
Due: biome-check, type-check, test-unit

doc: snacks specced
  specs/design-system/spec.md
Due: none

feat: add Snackbar component with MD3 one-at-a-time behavior (ROO-22)
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/snackbar.astro
  apps/design-system/tests/e2e/snackbar.spec.ts
  apps/main-site/src/lib/snackbar.ts
  apps/main-site/tests/e2e/header.spec.ts
  packages/design-system/package.json
  packages/design-system/src/components/Snackbar.svelte
  packages/design-system/src/components/SnackbarHost.svelte
  packages/design-system/src/components/snackbar-store.test.ts
  packages/design-system/src/components/snackbar-store.ts
  packages/design-system/src/styles/components/snackbar.css
  packages/design-system/src/styles/tokens.css
Due: biome-check, guard-design-system, type-check, test-unit

feat: add Material Symbols icon system to Kide (ROO-104)
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/icons.astro
  apps/design-system/tests/e2e/icons.spec.ts
  apps/design-system/tests/e2e/snackbar.spec.ts
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/layouts/Layout.astro
  packages/design-system/package.json
  packages/design-system/src/styles/components/icon.css
  packages/design-system/src/styles/tokens.css
  specs/design-system/iconography.md
Due: biome-check, guard-design-system, type-check, test-unit

feat: standardise admin listing pages with breakout content grid and design system buttons (ROO-104)
  apps/main-site/src/components/admin/DataTable.astro
  apps/main-site/src/components/admin/DeleteConfirm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/src/pages/admin/creators/index.astro
  apps/main-site/src/pages/admin/games/index.astro
  apps/main-site/src/pages/admin/index.astro
  apps/main-site/src/pages/admin/labels/[id]/edit.astro
  apps/main-site/src/pages/admin/labels/index.astro
  apps/main-site/src/pages/admin/labels/new.astro
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/admin/publishers/index.astro
  apps/main-site/src/styles/admin-table.css
  apps/main-site/tests/e2e/admin-layout.spec.ts
  packages/design-system/src/styles/components/app-shell.css
  packages/design-system/src/styles/components/button.css
  packages/design-system/src/styles/components/site-header.css
  packages/design-system/src/styles/grid.css
  packages/design-system/src/styles/tokens.css
  packages/design-system/src/styles/typography.css
  specs/admin-item-listings/spec.md
  specs/admin-ui/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

feat: replace admin-error-banner with Snackbar + EmptyState DS component (ROO-106)
  apps/design-system/src/pages/index.astro
  apps/design-system/tests/e2e/empty-state.spec.ts
  apps/main-site/src/components/admin/DataTable.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/pages/admin/creators/index.astro
  apps/main-site/src/pages/admin/games/index.astro
  apps/main-site/src/pages/admin/labels/index.astro
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/admin/products/new.astro
  apps/main-site/src/pages/admin/publishers/index.astro
  apps/main-site/src/styles/admin-table.css
  apps/main-site/tests/e2e/multiple-isbns.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  packages/design-system/package.json
  packages/design-system/src/styles/components/empty-state.css
  specs/admin-item-listings/spec.md
  specs/design-system/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

feat: promote admin-table CSS to DataTable design system component (ROO-105)
  apps/design-system/src/pages/index.astro
  apps/design-system/tests/e2e/auth-button.spec.ts
  apps/design-system/tests/e2e/data-table.spec.ts
  apps/design-system/tests/e2e/empty-state.spec.ts
  apps/design-system/tests/e2e/nav-rail.spec.ts
  apps/main-site/src/components/admin/DataTable.astro
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/styles/admin-page.css
  packages/design-system/package.json
  packages/design-system/src/styles/components/data-table.css
  specs/design-system/data-table/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

fix: correct stale DS E2E test assertions
  apps/design-system/tests/e2e/app-shell.spec.ts
  apps/design-system/tests/e2e/auth-button.spec.ts
Due: biome-check, type-check, test-unit

feat: add flash message system for admin UI feedback (ROO-16)
  apps/main-site/src/components/admin/DeleteConfirm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/lib/admin-flash.ts
  apps/main-site/src/pages/admin/creators/[id]/edit.astro
  apps/main-site/src/pages/admin/creators/index.astro
  apps/main-site/src/pages/admin/creators/new.astro
  apps/main-site/src/pages/admin/games/index.astro
  apps/main-site/src/pages/admin/labels/[id]/edit.astro
  apps/main-site/src/pages/admin/labels/index.astro
  apps/main-site/src/pages/admin/labels/new.astro
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/admin/publishers/[id]/edit.astro
  apps/main-site/src/pages/admin/publishers/index.astro
  apps/main-site/src/pages/admin/publishers/new.astro
  apps/main-site/tests/e2e/admin-flash.spec.ts
  specs/admin-ui/spec.md
Due: biome-check, type-check, test-unit

Create spec.md
  specs/entity-references/spec.md
Due: none

docs: create spec for Organization (Järjestö) data type (ROO-41)
  specs/organization/spec.md
Due: none

fix: migrate admin forms from FormField.astro to DS Input/Textarea (ROO-107)
  apps/main-site/src/components/admin/FormField.astro
  apps/main-site/src/pages/admin/creators/[id]/edit.astro
  apps/main-site/src/pages/admin/creators/new.astro
  apps/main-site/src/pages/admin/labels/[id]/edit.astro
  apps/main-site/src/pages/admin/labels/new.astro
  apps/main-site/src/pages/admin/publishers/[id]/edit.astro
  apps/main-site/src/pages/admin/publishers/new.astro
Due: biome-check, type-check

feat(database): create unified entity_references table (ROO-26)
  packages/database/src/schemas/core.ts
  packages/database/src/types/supabase.ts
  packages/database/tests/games.schemas.test.ts
Due: biome-check, type-check, test-unit

feat(products): migrate product references to entity_references (ROO-26)
  apps/main-site/src/components/ReferenceList.svelte
  apps/main-site/src/components/seo/schemas/product.test.ts
  apps/main-site/src/components/seo/schemas/product.ts
  apps/main-site/src/pages/api/admin/products/[id].ts
  apps/main-site/src/pages/api/admin/products/index.ts
  apps/main-site/src/pages/tuotteet/[slug].astro
  packages/database/src/queries.ts
  packages/database/tests/queries.test.ts
Due: biome-check, type-check, test-unit

feat(games): migrate game references to entity_references (ROO-26)
  apps/main-site/src/components/seo/schemas/game.test.ts
  apps/main-site/src/components/seo/schemas/game.ts
  apps/main-site/src/pages/admin/games/[id]/edit.astro
  apps/main-site/src/pages/api/admin/games/[id].ts
  apps/main-site/src/pages/api/admin/games/index.ts
  apps/main-site/src/pages/pelit/[slug].astro
  packages/database/src/queries.ts
Due: biome-check, type-check, test-unit

feat(publishers): add reference management support (ROO-26)
  apps/main-site/src/components/admin/PublisherForm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/admin/publishers/[id]/edit.astro
  apps/main-site/src/pages/admin/publishers/new.astro
  apps/main-site/src/pages/api/admin/publishers/[id].ts
  apps/main-site/src/pages/api/admin/publishers/index.ts
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/tests/e2e/publisher-references.spec.ts
  packages/database/src/queries.ts
  packages/database/tests/queries.test.ts
Due: biome-check, type-check, test-unit

feat(creators): add reference management support (ROO-26)
  apps/main-site/src/components/admin/CreatorForm.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/admin/creators/[id]/edit.astro
  apps/main-site/src/pages/admin/creators/new.astro
  apps/main-site/src/pages/api/admin/creators/[id].ts
  apps/main-site/src/pages/api/admin/creators/index.ts
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/tests/e2e/creator-references.spec.ts
  packages/database/src/queries.ts
  packages/database/tests/queries.test.ts
Due: biome-check, type-check, test-unit

chore: cleanup legacy reference code and update spec (ROO-26)
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  scripts/sync-dev-data.ts
  specs/entity-references/spec.md
Due: biome-check, type-check, test-unit

fix: resolve E2E test failures from entity references refactor (ROO-26)
  apps/main-site/src/components/admin/CreatorForm.svelte
  apps/main-site/src/components/admin/GameForm.svelte
  apps/main-site/src/components/admin/ProductForm.svelte
  apps/main-site/src/components/admin/PublisherForm.svelte
  apps/main-site/src/components/admin/ReferenceFormRows.svelte
  apps/main-site/src/pages/admin/games/[id]/edit.astro
  apps/main-site/tests/e2e/admin-crud.spec.ts
  apps/main-site/tests/e2e/admin-flash.spec.ts
  apps/main-site/tests/e2e/creator-detail-references.spec.ts
  apps/main-site/tests/e2e/creator-references.spec.ts
  apps/main-site/tests/e2e/game-references.spec.ts
  apps/main-site/tests/e2e/publisher-detail-references.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  packages/database/src/schemas/core.ts
  specs/entity-references/spec.md
  supabase/migrations/20260228120000_unified_entity_references.sql
Due: biome-check, type-check, test-unit

fix(auth): move logout from SiteHeader to account page (ROO-108)
  apps/main-site/src/components/NavItems.astro
  apps/main-site/src/pages/tili.astro
  apps/main-site/tests/e2e/header.spec.ts
  apps/main-site/tests/e2e/tili.spec.ts
  specs/auth/spec.md
Due: biome-check, type-check, test-unit

fix(footer): restructure footer content and add /tietoa page (ROO-109)
  apps/main-site/src/components/Footer.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/src/pages/tietoa.md
  apps/main-site/tests/e2e/footer.spec.ts
  specs/design-system/layout-and-navigation.md
Due: biome-check, type-check, test-unit

fix(footer): i18n version label, test cleanup, and spec DoD (ROO-109)
  apps/main-site/src/components/Footer.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/tests/e2e/footer.spec.ts
  specs/design-system/layout-and-navigation.md
Due: biome-check, type-check, test-unit

fix(home): remove vestigial language tags from homepage (ROO-110)
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/index.astro
  specs/i18n/spec.md
Due: biome-check, type-check, test-unit

feat(design-system): add DataList and SectionHeading components (ROO-111)
  apps/design-system/src/pages/index.astro
  apps/design-system/tests/e2e/data-list.spec.ts
  packages/design-system/package.json
  packages/design-system/src/styles/components/data-list.css
  packages/design-system/src/styles/components/section-heading.css
  specs/creator-profile/spec.md
  specs/design-system/data-list/spec.md
  specs/design-system/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

feat(database): include game relation in getCreatorBySlug (ROO-112)
  packages/database/src/queries.ts
  packages/database/tests/queries.test.ts
  specs/creator-profile/spec.md
Due: biome-check, type-check, test-unit

feat(creators): refactor profile page with game-grouped data-list layout (ROO-113)
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/tests/e2e/creator-profile-layout.spec.ts
  specs/creator-profile/spec.md
Due: biome-check, type-check, test-unit

fix: regression errors
  apps/main-site/tests/e2e/footer.spec.ts
  apps/main-site/tests/e2e/password-auth.spec.ts
  package.json
Due: biome-check, type-check, test-unit

fix(creators): link creator cards and remove breakout from profile layout (ROO-115)
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tekijat/index.astro
  specs/creator-profile/spec.md
Due: biome-check, type-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte,astro}
  guard-design-system: any of: packages/design-system/**/*
  type-check: any of: *.{ts,tsx,svelte,astro}
  test-unit: any of: *.{ts,svelte}
