Repository Myrrys/roolipeli-info: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, guard-design-system, type-check, test-unit

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files} && git add {staged_files}

guard-design-system:
  run: "if [ \"$ALLOW_DS_EDIT\" != \"true\" ]; then\n  echo \"‚ùå DESIGN SYSTEM LOCKED: You are attempting to modify 'packages/design-system'.\"\n  echo \"To authorize this change, run: ALLOW_DS_EDIT=true git commit ...\"\n  exit 1\nfi\n"

type-check:
  run: pnpm tsc --noEmit

test-unit:
  run: pnpm vitest run

fix: roo-21 kide form components
  apps/design-system/src/pages/index.astro
  apps/design-system/tests/e2e/smoke.spec.ts
  packages/design-system/package.json
  packages/design-system/src/styles/components/button.css
  packages/design-system/src/styles/components/input.css
  packages/design-system/src/styles/tokens.css
  specs/design-system/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

fix: roo-2
  apps/main-site/src/components/ProductCard.svelte
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/src/pages/kustantajat/index.astro
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tekijat/index.astro
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/src/pages/tuotteet/index.astro
  apps/main-site/src/styles/admin-forms.css
  apps/main-site/test-results/.last-run.json
  apps/main-site/tests/e2e/kustantajat.spec.ts
  apps/main-site/tests/e2e/tekijat.spec.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
Due: biome-check, type-check, test-unit

fix: roo-2, 24 done
  apps/main-site/src/components/ProductCard.svelte
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/src/pages/kustantajat/index.astro
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tekijat/index.astro
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/src/pages/tuotteet/index.astro
  specs/i18n/spec.md
  specs/product-catalog/spec.md
  specs/product-references/spec.md
Due: biome-check, type-check, test-unit

feat: roo-9 product references
  apps/main-site/src/components/ReferenceList.svelte
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/tuotteet/[slug].astro
  packages/database/src/queries.ts
  packages/database/src/schemas/core.ts
  packages/database/src/types/supabase.ts
  supabase/migrations/20260129141000_product_references.sql
Due: biome-check, type-check, test-unit

chore: release v0.3.5
  package.json
Due: biome-check

feat: kide components for listing pages
  SCAFFOLDING-COMPLETE.md
  apps/design-system/src/pages/index.astro
  apps/design-system/tests/e2e/smoke.spec.ts
  apps/main-site/src/pages/kustantajat/index.astro
  apps/main-site/src/pages/tekijat/index.astro
  apps/main-site/src/pages/tuotteet/index.astro
  apps/main-site/test-results/.last-run.json
  apps/main-site/test-results/tuotteet--products-slug----8a3a5-rs-description-when-present-chromium/error-context.md
  apps/main-site/tests/e2e/kustantajat.spec.ts
  apps/main-site/tests/e2e/tekijat.spec.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
  package.json
  packages/design-system/README.md
  packages/design-system/package.json
  packages/design-system/src/styles/collection-grid.css
  packages/design-system/src/styles/components/card.css
  specs/roo-28-kide-features/spec.md
  task.md
Due: biome-check, guard-design-system, type-check, test-unit

docs: semantic labels
  specs/semantic-data/spec.md
Due: none

feat(roo-10): implement semantic labels with admin ui and frontend display
  .gitignore
  AGENTS.md
  apps/main-site/src/components/admin/AdminNav.astro
  apps/main-site/src/components/admin/FormField.astro
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/admin/labels/[id]/edit.astro
  apps/main-site/src/pages/admin/labels/index.astro
  apps/main-site/src/pages/admin/labels/new.astro
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/api/admin/labels/[id].ts
  apps/main-site/src/pages/api/admin/labels/index.ts
  apps/main-site/src/pages/api/admin/products/[id].ts
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/tests/e2e/admin-layout.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  packages/database/src/queries.ts
  packages/database/src/schemas/core.ts
  packages/database/src/types/supabase.ts
  packages/design-system/src/styles/components/button.css
  packages/design-system/src/styles/components/card.css
  packages/design-system/src/styles/tokens.css
  supabase/migrations/20260130132000_semantic_labels.sql
  supabase/migrations/20260130142000_semantic_labels_admin_policies.sql
Due: biome-check, guard-design-system, type-check, test-unit

refactor(spec): enforce unique wikidata_id and manual entry policy
  specs/semantic-data/spec.md
  supabase/migrations/20260130150000_unique_wikidata_id.sql
Due: none

fix: roo-33 ref adding was buggy
  AGENTS.md
  apps/main-site/src/components/ReferenceList.svelte
  apps/main-site/src/components/admin/DeleteConfirm.svelte
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/api/admin/creators/[id].ts
  apps/main-site/src/pages/api/admin/products/[id].ts
  apps/main-site/src/pages/api/admin/products/index.ts
  apps/main-site/src/pages/api/admin/publishers/[id].ts
  apps/main-site/tests/e2e/product-references.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  biome.json
  package.json
  packages/design-system/src/styles/tokens.css
  specs/admin-ui/spec.md
  specs/product-catalog/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

fix: roo-31 specs updated
  specs/admin-ui/spec.md
  specs/product-catalog/spec.md
Due: none

fix(roo-33): correct variable name typo in products API
  apps/main-site/src/pages/api/admin/products/index.ts
  apps/main-site/test-results/.last-run.json
  apps/main-site/test-results/tuotteet--products-slug----8a3a5-rs-description-when-present-chromium/error-context.md
Due: biome-check, type-check, test-unit

fix: roo-25
  apps/main-site/src/components/ReferenceList.svelte
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/tests/e2e/tuotteet.spec.ts
  packages/database/src/queries.ts
  specs/product-references/spec.md
  supabase/migrations/20260130213000_fix_product_references_rls.sql
Due: biome-check, type-check, test-unit

chore: added review command for claude
  .claude/commands/review.md
Due: none

fix: roo-29 type i18n
  apps/design-system/test-results/.last-run.json
  apps/main-site/src/components/ProductCard.svelte
  apps/main-site/src/components/admin/DeleteConfirm.svelte
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/src/pages/tuotteet/index.astro
  apps/main-site/tests/e2e/tuotteet.spec.ts
  package.json
  specs/product-catalog/spec.md
Due: biome-check, type-check, test-unit

fix: return proper 404 status codes instead of redirecting
  apps/main-site/src/components/Error404Content.astro
  apps/main-site/src/pages/404.astro
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/src/pages/kustantajat/index.astro
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tekijat/index.astro
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/tests/e2e/error.spec.ts
Due: biome-check, type-check, test-unit

docs: removed historic backlog items
  plans/PBI-001-monorepo-initialization.md
  plans/PBI-002-governance-tooling.md
  plans/PBI-003-asdlc-documentation.md
  plans/PBI-004-database-package.md
  plans/PBI-005-design-system-package.md
  plans/PBI-006-config-package.md
  plans/PBI-007-main-site-app.md
  plans/PBI-008-design-docs-app.md
  plans/PBI-009-testing-infrastructure.md
  plans/PBI-010-jainen-kirja-design-system.md
  plans/PBI-011-supabase-connect.md
  plans/PBI-012-core-schema.md
  plans/PBI-013-crud-ingestion.md
  plans/PBI-014-admin-auth.md
  plans/PBI-015-admin-layout.md
  plans/PBI-016-admin-publishers-crud.md
  plans/PBI-017-admin-creators-crud.md
  plans/PBI-018-admin-products-crud.md
  plans/README.md
  plans/TEMPLATE.md
Due: none

fix: Book Product Type (ROO-40)
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
Due: biome-check, type-check, test-unit

feat: support multiple ISBNs per product
  apps/main-site/src/components/admin/DeleteConfirm.svelte
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/pages/admin/creators/index.astro
  apps/main-site/src/pages/admin/index.astro
  apps/main-site/src/pages/admin/labels/index.astro
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/admin/publishers/index.astro
  apps/main-site/src/pages/api/admin/products/[id].ts
  apps/main-site/src/pages/api/admin/products/index.ts
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/src/pages/kustantajat/index.astro
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tekijat/index.astro
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/src/pages/tuotteet/index.astro
  apps/main-site/tests/e2e/admin-crud.spec.ts
  apps/main-site/tests/e2e/multiple-isbns.spec.ts
  packages/database/src/index.ts
  packages/database/src/queries.ts
  packages/database/src/schemas/core.ts
  packages/database/src/types/supabase.ts
  packages/database/tests/queries.test.ts
  packages/design-system/package.json
  specs/admin-ui/spec.md
  specs/aeo/spec.md
  specs/database/spec.md
  specs/product-catalog/spec.md
  supabase/migrations/20260131171500_multiple_isbns.sql
Due: biome-check, type-check, test-unit

feat: add /spec command for spec-driven development
  .claude/commands/spec.md
Due: none

docs(spec): add contract section to layout-and-navigation spec
  specs/design-system/layout-and-navigation.md
Due: none

docs(spec): add footer CSS module to design-system spec (ROO-50)
  specs/design-system/spec.md
Due: none

docs(spec): align footer specs with ROO-35/36 requirements
  specs/design-system/layout-and-navigation.md
  specs/design-system/spec.md
Due: none

docs: add issue lifecycle rule - devs move to In Review, not close
  AGENTS.md
Due: none

feat: roo-59 ds components for footer
  apps/design-system/src/pages/index.astro
  apps/design-system/tests/e2e/smoke.spec.ts
  packages/design-system/package.json
  packages/design-system/src/styles/components/footer.css
  packages/design-system/src/styles/tokens.css
Due: biome-check, guard-design-system, type-check, test-unit

feat: add preflight reset, topbar, and site-header components to design system
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/index.astro
  apps/design-system/src/pages/site-header.astro
  apps/design-system/tests/e2e/smoke.spec.ts
  packages/design-system/package.json
  packages/design-system/src/components/SiteHeader.astro
  packages/design-system/src/styles/components/header.css
  packages/design-system/src/styles/components/site-header.css
  packages/design-system/src/styles/components/topbar.css
  packages/design-system/src/styles/preflight.css
Due: biome-check, guard-design-system, type-check, test-unit

feat: add typography base styles and extended font-size scale
  apps/design-system/src/layouts/DocsLayout.astro
  packages/design-system/package.json
  packages/design-system/src/styles/tokens.css
  packages/design-system/src/styles/typography.css
Due: biome-check, guard-design-system, type-check

feat: integrate site shell (SiteHeader + Footer) into main-site layout
  apps/main-site/src/components/Footer.astro
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/tests/e2e/footer.spec.ts
  apps/main-site/tests/e2e/header.spec.ts
  apps/main-site/tests/e2e/layout.spec.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
  specs/design-system/layout-and-navigation.md
  specs/design-system/preflight.md
  specs/design-system/site-header.md
  specs/design-system/spec.md
Due: biome-check, type-check, test-unit

fix: removed demo-login-button
  apps/main-site/src/layouts/Layout.astro
  package.json
Due: biome-check, type-check

fix: wire Layout and Footer through i18n translations
  apps/main-site/src/components/Footer.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/Layout.astro
Due: biome-check, type-check, test-unit

docs: breadcrumbs specs (roo-44)
  specs/design-system/breadcrumbs.md
  specs/design-system/layout-and-navigation.md
  specs/design-system/spec.md
Due: none

feat(breadcrumbs): implement component and fix regressions (ROO-44)
  apps/design-system/src/pages/breadcrumbs.astro
  apps/design-system/tests/e2e/breadcrumbs.spec.ts
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/kustantajat/[slug].astro
  apps/main-site/src/pages/tekijat/[slug].astro
  apps/main-site/src/pages/tuotteet/[slug].astro
  apps/main-site/tests/e2e/breadcrumbs.spec.ts
  apps/main-site/tests/e2e/footer.spec.ts
  apps/main-site/tests/e2e/header.spec.ts
  apps/main-site/tests/e2e/multiple-isbns.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
  packages/design-system/package.json
  packages/design-system/src/components/Breadcrumbs.astro
  packages/design-system/src/styles/components/breadcrumbs.css
Due: biome-check, guard-design-system, type-check, test-unit

docs: regular user auth
  specs/auth/spec.md
Due: none

feat(auth): add profiles table with RLS, trigger, and Zod schema (ROO-52)
  packages/database/src/schemas/core.ts
  packages/database/src/types/supabase.ts
  packages/database/supabase/migrations/20260204120000_add_user_profiles.sql
  packages/database/tests/schemas.test.ts
Due: biome-check, type-check, test-unit

feat(auth): implement shared callback route (ROO-53)
  .agent/workflows/dev.md
  .claude/commands/dev.md
  apps/main-site/src/pages/admin/auth/callback.ts
  apps/main-site/src/pages/admin/login.astro
  apps/main-site/src/pages/auth/callback.ts
  apps/main-site/tests/e2e/multiple-isbns.spec.ts
  apps/main-site/tests/e2e/semantic-labels.spec.ts
  apps/main-site/tests/e2e/tuotteet.spec.ts
  packages/design-system/src/styles/components/breadcrumbs.css
  packages/design-system/src/styles/components/site-header.css
  packages/design-system/src/styles/preflight.css
  packages/design-system/src/styles/tokens.css
  packages/design-system/src/styles/typography.css
Due: biome-check, guard-design-system, type-check, test-unit

docs(auth): sync spec with ROO-52 and close gaps for ROO-54
  specs/auth/spec.md
Due: none

feat(auth): implement public login page (ROO-54)
  apps/design-system/tests/e2e/smoke.spec.ts
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/src/pages/kirjaudu.astro
  apps/main-site/src/pages/logout.ts
  apps/main-site/tests/e2e/kirjaudu.spec.ts
Due: biome-check, type-check, test-unit

feat(auth): implement account page /tili (ROO-55)
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/i18n/utils.ts
  apps/main-site/src/middleware.ts
  apps/main-site/src/pages/[lang]/tili.astro
  apps/main-site/src/pages/tili.astro
  apps/main-site/tests/e2e/test-utils.ts
  apps/main-site/tests/e2e/tili.spec.ts
Due: biome-check, type-check, test-unit

fix(auth): handle cookie setting after redirect
  apps/main-site/src/lib/supabase.ts
Due: biome-check, type-check, test-unit

fix(auth): handle expired magic link errors gracefully
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/src/pages/kirjaudu.astro
Due: biome-check, type-check, test-unit

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte,astro}
  guard-design-system: any of: packages/design-system/**/*
  type-check: any of: *.{ts,tsx,svelte,astro}
  test-unit: any of: *.{ts,svelte}
