Repository Myrrys/roolipeli-info: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, guard-design-system, type-check, test-unit

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte,astro}"
      run: pnpm biome check --write --no-errors-on-unmatched {staged_files} && git add {staged_files}

    guard-design-system:
      glob: "packages/design-system/**/*"
      run: |
        if [ "$ALLOW_DS_EDIT" != "true" ]; then
          echo "‚ùå DESIGN SYSTEM LOCKED: You are attempting to modify 'packages/design-system'."
          echo "To authorize this change, run: ALLOW_DS_EDIT=true git commit ..."
          exit 1
        fi

    type-check:
      glob: "*.{ts,tsx,svelte,astro}"
      run: pnpm tsc --noEmit

    test-unit:
      glob: "*.{ts,svelte}"
      run: pnpm vitest run

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

docs(asdlc): add agent personas and architectural constraints
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
Due: none

feat(config): initialize shared typescript configuration
  packages/config/package.json
  packages/config/tsconfig.astro.json
  packages/config/tsconfig.base.json
Due: biome-check

feat(database): initialize database package foundation
  lefthook.yml
  packages/database/package.json
  packages/database/src/index.ts
  packages/database/src/schemas/index.ts
  packages/database/src/types/supabase.ts
  packages/database/tsconfig.json
  pnpm-lock.yaml
Due: biome-check, type-check, test-unit

feat(design-system): initialize protected design system package
  packages/design-system/package.json
  packages/design-system/src/styles/tokens.css
  packages/design-system/test.txt
  pnpm-lock.yaml
Due: biome-check, guard-design-system

feat(main-site): initialize astro ssr app with i18n
  apps/main-site/.gitignore
  apps/main-site/.vscode/extensions.json
  apps/main-site/.vscode/launch.json
  apps/main-site/README.md
  apps/main-site/astro.config.mjs
  apps/main-site/package.json
  apps/main-site/public/favicon.svg
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/src/pages/en/index.astro
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/sv/index.astro
  apps/main-site/svelte.config.js
  apps/main-site/tsconfig.json
  biome.json
  pnpm-lock.yaml
Due: biome-check, type-check

feat(design-docs): initialize design system documentation site
  apps/design-system/.gitignore
  apps/design-system/.vscode/extensions.json
  apps/design-system/.vscode/launch.json
  apps/design-system/README.md
  apps/design-system/astro.config.mjs
  apps/design-system/package.json
  apps/design-system/public/favicon.svg
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/index.astro
  apps/design-system/svelte.config.js
  apps/design-system/tsconfig.json
  pnpm-lock.yaml
Due: biome-check, type-check

feat(testing): add vitest and playwright infrastructure
  apps/design-system/package.json
  apps/design-system/playwright.config.ts
  apps/design-system/test-results/.last-run.json
  apps/design-system/tests/e2e/smoke.spec.ts
  apps/main-site/package.json
  apps/main-site/playwright.config.ts
  apps/main-site/test-results/.last-run.json
  apps/main-site/tests/e2e/smoke.spec.ts
  lefthook.yml
  package.json
  packages/database/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: biome-check, type-check, test-unit

docs: add scaffolding completion summary
  SCAFFOLDING-COMPLETE.md
Due: none

fix: base project structure in place
  packages/database/package.json
Due: biome-check

docs(design-system): add Jäinen Kirja spec and PBI
  plans/PBI-010-jainen-kirja-design-system.md
  specs/design-system/spec.md
Due: none

refactor(design-system): rename to Kide with --kide- token prefix
  plans/PBI-010-jainen-kirja-design-system.md
  specs/design-system/spec.md
Due: none

feat(design-system): add 0.5rem spacing grid system to spec
  plans/PBI-010-jainen-kirja-design-system.md
  specs/design-system/spec.md
Due: none

feat(design-system): implement Kide design system with WCAG AA compliance
  apps/design-system/astro.config.mjs
  apps/design-system/playwright.config.ts
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/index.astro
  apps/design-system/tests/e2e/smoke.spec.ts
  apps/main-site/astro.config.mjs
  apps/main-site/playwright.config.ts
  apps/main-site/src/layouts/Layout.astro
  apps/main-site/src/pages/en/index.astro
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/sv/index.astro
  packages/design-system/package.json
  packages/design-system/src/styles/components/card.css
  packages/design-system/src/styles/components/tag.css
  packages/design-system/src/styles/tokens.css
  specs/design-system/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

feat(deployment): add Netlify deployment configuration for both apps
  apps/design-system/netlify.toml
  apps/main-site/.gitignore
  apps/main-site/astro.config.mjs
  apps/main-site/netlify.toml
  apps/main-site/package.json
  docs/netlify-deployment.md
  pnpm-lock.yaml
Due: biome-check

fix: readme.md contains install and run instructions
  README.md
  package.json
Due: biome-check

fix: corrected netlify toml to map paths from repo root
  apps/design-system/netlify.toml
  apps/main-site/netlify.toml
  package.json
Due: biome-check

docs: 0.2 roadmap
  docs/mvp-roadmap.md
  plans/PBI-011-supabase-connect.md
  plans/PBI-012-core-schema.md
  plans/PBI-013-crud-ingestion.md
  specs/admin-tools/spec.md
  specs/database/spec.md
  task.md
Due: none

feat: added supabase
  .env.example
  data/creators.json
  data/products.json
  data/publishers.json
  package.json
  packages/database/src/schemas/core.ts
  packages/database/src/schemas/index.ts
  pnpm-lock.yaml
  scripts/ingest.ts
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20260119124600_init_core.sql
  task.md
Due: biome-check, type-check, test-unit

feat: lists entities from the db
  apps/main-site/package.json
  apps/main-site/src/components/ProductCard.svelte
  apps/main-site/src/pages/creators/index.astro
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/products/[slug].astro
  apps/main-site/src/pages/products/index.astro
  apps/main-site/src/pages/publishers/index.astro
  apps/main-site/tests/e2e/creators.spec.ts
  apps/main-site/tests/e2e/products.spec.ts
  apps/main-site/tests/e2e/publishers.spec.ts
  docs/mvp-roadmap.md
  packages/database/package.json
  packages/database/src/index.ts
  packages/database/src/queries.ts
  packages/database/tests/queries.test.ts
  pnpm-lock.yaml
  specs/product-catalog/spec.md
  task.md
Due: biome-check, type-check, test-unit

fix: biome+ svelte
  biome.json
Due: biome-check

feat(v0.2.0): complete public catalog with seed data
  docs/mvp-roadmap.md
  package.json
  supabase/migrations/20260122150000_seed_velhon_torni.sql
  task.md
Due: biome-check

feat: 0.3.0 release as planned
  apps/main-site/package.json
  apps/main-site/src/pages/404.astro
  apps/main-site/src/pages/creators/[slug].astro
  apps/main-site/src/pages/creators/index.astro
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/products/[slug].astro
  apps/main-site/src/pages/products/index.astro
  apps/main-site/src/pages/publishers/[slug].astro
  apps/main-site/src/pages/publishers/index.astro
  apps/main-site/tests/e2e/creators.spec.ts
  apps/main-site/tests/e2e/error.spec.ts
  apps/main-site/tests/e2e/products.spec.ts
  apps/main-site/tests/e2e/publishers.spec.ts
  apps/main-site/tsconfig.json
  package.json
  packages/database/src/types/supabase.ts
  pnpm-lock.yaml
Due: biome-check, type-check, test-unit

fix: i18n spec reversed
  .gitignore
  specs/i18n/spec.md
Due: none

fix: implement Finnish-first i18n using Astro built-in i18n
  apps/main-site/package.json
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/i18n/utils.ts
  apps/main-site/src/pages/404.astro
  apps/main-site/src/pages/creators/[slug].astro
  apps/main-site/src/pages/creators/index.astro
  apps/main-site/src/pages/en/index.astro
  apps/main-site/src/pages/index.astro
  apps/main-site/src/pages/products/[slug].astro
  apps/main-site/src/pages/products/index.astro
  apps/main-site/src/pages/publishers/[slug].astro
  apps/main-site/src/pages/publishers/index.astro
  apps/main-site/src/pages/sv/index.astro
  package.json
  specs/i18n/spec.md
Due: biome-check, type-check, test-unit

docs: 0.4 planned
  plans/PBI-014-admin-auth.md
  plans/PBI-015-admin-layout.md
  plans/PBI-016-admin-publishers-crud.md
  plans/PBI-017-admin-creators-crud.md
  plans/PBI-018-admin-products-crud.md
  plans/README.md
  specs/admin-ui/spec.md
  specs/aeo/spec.md
Due: none

feat(v0.3.2): add admin authentication with magic link login
  apps/main-site/package.json
  apps/main-site/src/lib/supabase.ts
  apps/main-site/src/middleware.ts
  apps/main-site/src/pages/admin/auth/callback.ts
  apps/main-site/src/pages/admin/index.astro
  apps/main-site/src/pages/admin/login.astro
  apps/main-site/src/pages/admin/logout.ts
  apps/main-site/tests/e2e/admin-auth.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  package.json
  pnpm-lock.yaml
  scripts/set-admin.ts
Due: biome-check, type-check, test-unit

docs: update AGENTS.md to reflect PBI migration to Linear
  AGENTS.md
Due: none

chore(deps): upgrade all dependencies to latest stable
  apps/design-system/package.json
  apps/main-site/package.json
  package.json
  packages/database/package.json
  packages/design-system/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check

fix: some leftovers
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/[lang]/index.astro
  apps/main-site/tests/e2e/error.spec.ts
Due: biome-check, type-check, test-unit

fix: Some text changes for an SRS sales pitch.
  apps/main-site/src/i18n/ui.ts
Due: biome-check, type-check, test-unit

fix(admin): security hardening for admin authentication
  AGENTS.md
  README.md
  apps/main-site/src/components/admin/AdminNav.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/lib/supabase.ts
  apps/main-site/src/middleware.ts
  apps/main-site/src/pages/admin/auth/callback.ts
  apps/main-site/src/pages/admin/creators/index.astro
  apps/main-site/src/pages/admin/index.astro
  apps/main-site/src/pages/admin/login.astro
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/admin/publishers/index.astro
  apps/main-site/tests/e2e/admin-auth.spec.ts
  apps/main-site/tests/e2e/admin-layout.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  packages/database/src/queries.ts
  packages/design-system/src/styles/tokens.css
  scripts/set-admin.ts
Due: biome-check, guard-design-system, type-check, test-unit

fix: lessons learned
  AGENTS.md
  apps/design-system/test-results/.last-run.json
  packages/database/tests/queries.test.ts
  specs/admin-ui/spec.md
Due: biome-check, type-check, test-unit

fix(admin): replace any type with DataRow interface in DataTable
  apps/main-site/src/components/admin/DataTable.astro
Due: biome-check, type-check

feat(admin): implement publishers & creators CRUD with refactoring (ROO-6, ROO-7, ROO-17)
  apps/main-site/src/components/admin/DeleteConfirm.svelte
  apps/main-site/src/components/admin/FormField.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/layouts/AdminLayout.astro
  apps/main-site/src/lib/slug.client.ts
  apps/main-site/src/pages/admin/creators/[id]/edit.astro
  apps/main-site/src/pages/admin/creators/index.astro
  apps/main-site/src/pages/admin/creators/new.astro
  apps/main-site/src/pages/admin/publishers/[id]/edit.astro
  apps/main-site/src/pages/admin/publishers/index.astro
  apps/main-site/src/pages/admin/publishers/new.astro
  apps/main-site/src/pages/api/admin/creators/[id].ts
  apps/main-site/src/pages/api/admin/creators/index.ts
  apps/main-site/src/pages/api/admin/publishers/[id].ts
  apps/main-site/src/pages/api/admin/publishers/index.ts
  apps/main-site/src/styles/admin-forms.css
  apps/main-site/tests/e2e/admin-crud.spec.ts
  apps/main-site/tests/e2e/test-utils.ts
  packages/database/supabase/migrations/20260127160000_add_admin_crud_policies.sql
Due: biome-check, type-check, test-unit

0.3.3
  package.json
Due: biome-check

docs: lessons updated to constitution, specs
  AGENTS.md
  specs/admin-ui/spec.md
Due: none

docs: sdd for product crud
  specs/admin-ui/spec.md
Due: none

chore: release
  apps/main-site/package.json
  apps/main-site/scripts/get-cookie.ts
  apps/main-site/src/components/admin/ProductForm.astro
  apps/main-site/src/i18n/ui.ts
  apps/main-site/src/pages/admin/products/[id]/edit.astro
  apps/main-site/src/pages/admin/products/index.astro
  apps/main-site/src/pages/admin/products/new.astro
  apps/main-site/src/pages/api/admin/products/[id].ts
  apps/main-site/src/pages/api/admin/products/index.ts
  apps/main-site/test_output.txt
  apps/main-site/tests/e2e/admin-crud.spec.ts
  package.json
  packages/database/supabase/migrations/20260128000000_add_admin_products_policies.sql
  pnpm-lock.yaml
Due: biome-check, type-check, test-unit

feat: roo-21, grid system
  apps/design-system/package.json
  apps/design-system/src/layouts/DocsLayout.astro
  apps/design-system/src/pages/index.astro
  apps/design-system/test-results/.last-run.json
  apps/design-system/tests/e2e/smoke.spec.ts
  apps/main-site/test-results/.last-run.json
  packages/design-system/package.json
  packages/design-system/src/styles/components/card.css
  packages/design-system/src/styles/grid.css
  packages/design-system/src/styles/tokens.css
  specs/design-system/spec.md
Due: biome-check, guard-design-system, type-check, test-unit

docs: lessons from roo-21
  AGENTS.md
  specs/design-system/spec.md
Due: none
